@import "src/scss/variables";
.handIcon{
    cursor: pointer;
}

#sodexo_logo {
    display: block;
    max-width: 150px;
    max-height: 50px;
    width: auto;
    height: auto;
}
.btnChange {
    color: white;
    background-color: $primary-brand-colour;
    .fa,
    .far,
    .fas {
      vertical-align: middle;
      color: #fff;
      font-size: 20px;
    }
}
.superadmin.btn.btn-primary{
    background-color: $secondary-brand-colour !important;
    border-color: $secondary-brand-colour !important;
}
#settingsTabs>.btn-group .btn {
    border-radius: 0;

}


@media (max-width:767px) {
    #sodexo_logo {
    margin-bottom: 15px;
    }
  }
