.mat-dialog-title {
    margin-bottom: 0 !important;
}

.mat-dialog-content {
    margin-left: 0 !important;
    padding: 0 15px !important;
}

.mat-form-field {
    display: block !important;
}

.mat-dialog-actions {
    margin-bottom: 0 !important;
    padding: 0 15px !important;
    display: block !important;
}