<div #yourInfoWrapper>
  <div class="option-wrapper">
    <div class="variant-wrapper my-2 my-md-0">
      <div class="p-3 section-title mt-3 mt-md-0 mb-3 font-size-heading pl-4 theme-light"
        *ngIf="!checkoutService.showChoices() && !checkoutService.allFieldsHiddenForPickup()">
        {{'public.checkout.title.pickup' | translate}}
      </div>
      <app-customer-login></app-customer-login>
      <div class="expandable-content-wrapper">
        <form class="mx-3" [formGroup]="personalInfoForm">
          <!-- Your name -->
          <div class="row" *ngIf="!nameFieldHidden()">
            <div class="col-md-12">
              <div class="form-group mx-2">
                <div class="input-group mb-4">
                  <input type="text" class="form-control"
                    [ngClass]="{'is-invalid': checkoutService.isInvalid(getControl('name')), 'populated': !!getControl('name').value}"
                    autocomplete="name" [formControl]="getControl('name')" maxlength="200" id="name"
                    (keyup)="checkFormValidity()" (change)="addOrderMeta('customerName', 'name', 'personalInfoForm')"
                    trim="blur" appPreventEnter />
                  <label *ngIf="nameFieldRequired()" for="#name" class="placeholder font-size-primary"
                    (click)="checkoutService.focusField($event)">{{'public.checkout.fullName' | translate}} *</label>
                  <label *ngIf="!nameFieldRequired()" for="#name" class="placeholder font-size-primary"
                    (click)="checkoutService.focusField($event)">{{'public.checkout.fullName' | translate}}
                    {{'public.global.optional' | translate}}</label>
                  <div class="invalid-feedback font-size-secondary"
                    *ngIf="checkoutService.showErrors(getControl('name'))">
                    <span *ngIf="getControl('name').errors.required">{{'public.checkout.errors.fieldRequired' |
                      translate}}.</span>
                    <span
                      *ngIf="!getControl('name').errors.required && getControl('name').errors.whitespace">{{'public.payment.errors.valueNotValid'
                      | translate}}.</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Email -->
          <div class="row" *ngIf="!emailFieldHidden()">
            <div class="col-md-12">
              <div class="form-group mx-2">
                <div class="input-group mb-4">
                  <input type="text" class="form-control"
                    [ngClass]="{'is-invalid': checkoutService.isInvalid(getControl('email')) || getControl('email').errors?.email, 'populated': !!getControl('email').value}"
                    autocomplete="email" [formControl]="getControl('email')" maxlength="200" id="email"
                    (keyup)="checkFormValidity();" (change)="addOrderMeta('customerEmail', 'email', 'personalInfoForm')"
                    trim="blur" appPreventEnter [attr.disabled]="auth.isUserLoggedIn() ? true : null" />
                  <label *ngIf="emailFieldRequired()" for="#email" class="placeholder font-size-primary"
                    (click)="checkoutService.focusField($event)">{{'public.checkout.email' | translate}} *</label>
                  <label *ngIf="!emailFieldRequired()" for="#email" class="placeholder font-size-primary"
                    (click)="checkoutService.focusField($event)">{{'public.checkout.email' | translate}}
                    {{'public.global.optional' | translate}}</label>
                  <div class="invalid-feedback font-size-secondary"
                    *ngIf="checkoutService.showErrors(getControl('email')) || getControl('email').errors?.email">
                    <span *ngIf="getControl('email').errors.required">{{'public.checkout.errors.fieldRequired' |
                      translate}}.</span>
                    <span
                      *ngIf="!getControl('email').errors.required && (getControl('email').errors.email || getControl('email').errors.whitespace || getControl('email').errors.minLength || getControl('email').errors.maxlength)">{{'public.payment.errors.valueNotValid'
                      | translate}}.</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Phone Number -->
          <div class="row" *ngIf="!phoneFieldHidden()">
            <div class="col-md-12">
              <div class="form-group mx-2">
                <app-phone-input [id]="'phone'" [countryCode]="countryCode()" [formControl]="getControl('phone')"
                  [required]="phoneFieldRequired()" [invalidSubmit]="checkoutService.invalidSubmit()"
                  (inputChange)="checkFormValidity(); addOrderMeta('customerPhoneNumber', 'phone', 'personalInfoForm');"
                  (change)="checkFormValidity(); addOrderMeta('customerPhoneNumber', 'phone', 'personalInfoForm');">
                </app-phone-input>
              </div>
            </div>
          </div>
        </form>
      </div>
      <!-- FORM END -->
    </div>
  </div>

  <div class="form-group row ml-4"
    *ngIf="auth.isUserLoggedIn() && (checkoutService.isShowOnlySelfPickup() || checkoutService.isShowOnlyDeliveryToAddress())">
    <div class="loading-screen d-flex justify-content-center align-items-center w-100"
      *ngIf=" customerDetailsChanged() && customerDetailsUpdateStatus === 'LOADING'">
      <div class="d-flex flex-column text-center">
        <div class="lds-ripple mx-auto">
          <div></div>
          <div></div>
        </div>
        <div class="loading-message">{{'public.load.loadingMessage' | translate}}</div>
      </div>
    </div>
    <div class="font-size-secondary" *ngIf=" customerDetailsChanged() && customerDetailsUpdateStatus !== 'LOADING'">
      <input class="checkbox" type="checkbox" (throttledClick)="updateCustomerDetails()" appPreventDoubleClick
        [throttleTime]="3000" />
      <span> {{'public.checkout.saveCustomerDetailsForFuture' | translate}}</span>
    </div>
    <div class="input-group valid-feedback font-size-secondary" *ngIf="customerDetailsUpdateStatus === 'SUCCESS'">
      <span> {{'public.checkout.customerDetailsUpdateSuccess' | translate}}</span>
    </div>
    <div class="input-group invalid-feedback font-size-secondary" *ngIf="customerDetailsUpdateStatus === 'FAILED'">
      <span> {{'public.checkout.errors.customerDetailsUpdateFailed' | translate}}</span>
    </div>
  </div>

</div>