@import "../../../../../node_modules/bootstrap/scss/functions";
@import "../../../../../node_modules/bootstrap/scss/variables";
@import "../../../../../node_modules/bootstrap/scss/mixins";

:host {
    height: calc(var(--vh, 1vh) * 100);
}

.overflow-x{
  overflow-x: hidden !important;
}

.recents-wrapper {
  @media (min-width: 992px) {
    border: 1px solid #AFABAB;
  }

  .recents-wrapper-content {
    max-width: 992px;
    height: auto;
    min-height: calc((var(--vh, 1vh) * 100));

    .recents-content {
      max-width: 992px;
      .nothing-found {
        img {
          width: 160px;
          @include media-breakpoint-down(md) {
            width: 80px;
          }
        }
        .description {
          color: #444;
        }
      }
    }
  }
}

hr {
  height: 0 !important;
    background: #24AFB2 !important;
    display: inline-block !important;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,0.1);
    box-sizing: content-box;
    overflow: visible;
}

.recentHeading{
  background-color: #273773 !important;
}

.store-logo {
  img {
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 51px;
    height: 51px;
  }
}

@include media-breakpoint-down(lg){
  .font-size-primary {
    font-size: 16px !important;
  }
  .font-size-secondary {
    font-size: 0.875rem !important;
  }
}
