android/splash.png
android/splash/
android/icon.png
android/icon-background.png
android/icon-foreground.png
android/icon/


ios/splash.png
ios/splash/
ios/icon.png
ios/icon-background.png
ios/icon-foreground.png
ios/icon/

