<div class="col-lg-12 right-col" id="importCatalog">
  <div class="card list">
      <div class="header pt-3">
          <div class="col-lg-12 mb-2 mb-md-4 d-flex align-items-center justify-content-between p-0">
              <a title="{{'admin.store.catalog.backToCatalog'|translate}}" class="btn back-button btn-primary"
                  [routerLink]="['/manager/stores/'+storeId+'/catalog']">
                  <i class="fas fa-arrow-left mr-2"></i> <span
                      class="d-none d-md-inline-block d-lg-inline-block d-xl-inline-block ml-1">{{'admin.store.catalog.backToCatalog'|
                      translate}}</span>
              </a>
          </div>
          <app-stores-list [cloneCatalogFlag]="true" (selectedFromCatalogClone)="cloneCatalogFromOtherStore($event)"></app-stores-list>
      </div>
  </div>
</div>
