@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "src/scss/variables";

.wrapper {
  max-width: 1100px;
}

a {
  color: $primary-brand-colour !important;
  cursor: pointer !important;
}

.btnCreateStoreLoc {
  text-align: center;
  margin-bottom: 10px;
}
.download-btn{
  width: 30%;
}

.w-18{
  width: 30%;
  @include media-breakpoint-down(xxl) {
    width: 47%;
  }
}

.pincode {
  font-size: 30px;
  font-weight: bold;
}
@media (max-width:768px){
  .w-18{
    width: 95%;
  }
}

.mat-mdc-dialog-title {
  padding-left: 19px !important;
}

.switch-location {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 0;



  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: gray;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;

  }

  input:checked + .slider {
    background-color: $secondary-brand-colour;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px $secondary-brand-colour;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  .slider.round {
    border-radius: 25px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
}

.list a{
  align-items: center;
  display: flex!important;

}
.list label{
  margin: 0 5px 0 0px;

}
.slider-bg{
  width: 100%;
  display:inline;
}


.disabledSlider {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}
