@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "../../../../scss/globals";

.standalone-payment{
    .order-location-info{
        max-width: 992px;
        i{
            color: #000
        }
    }
    padding-bottom: 75px;
    .add-to-cart-wrapper{
        background-color: #fff;
    }
    .order-paid{
        max-width: 992px;
    }
    .logo{
        max-height: 140px;
        max-width: calc(3 * 140px);
    }
}
.store-info {
    max-width: 992px;
    background-color: #F2F0EE;

    @include media-breakpoint-down(md) {
        max-width: 992px;
    }

    h1 {
        font-size: 1.125em;
        color: #000;
    }

    .store-title {
        font-size: 1.000em;
        color: #444;
    }

    .disclaimer {
        font-size: 0.675em;
    }
}

.content{
    max-width: 992px;
}

.add-to-cart-wrapper{
    position:fixed;
    bottom: 0;
    max-width: 992px;
    right: 0;
    left: 0;
    z-index: 3;
}