<app-header (locale)="onLocaleChange($event)"></app-header>
<div class="app-body pt-0 mt-1">
  <main class="main d-flex align-items-center">
    <div class="container pt-0">
      <div class="d-flex flex-row ">
        <div class="card mx-auto">
          <div class="card-body card_width px-4 px-md-5 py-3 py-md-5 shadow-no-mobile shadow mx-auto">
            <div *ngIf="(state$ | async).status === 'FAILED'" role="alert" class="alert alert-danger">
              <strong>Error!</strong> {{(state$ | async).errorMessage}}
            </div>

            <form [formGroup]="passwordUpdateForm">
              <h1 class="text-blue">{{'admin.updatePassword.header' | translate}}</h1>
              <p class="text-blue mb-3"><b>{{'admin.updatePassword.subHeader' | translate}}</b></p>
              <div class="row">
                <div class="col-12">
                  <div class="input-group mb-3">
                    <label class="d-flex w-100 text-blue" for="email">
                      {{'admin.global.email' | translate}}
                    </label>
                    <input type="text" disabled="true" readonly="true" id="update-password-email-field"
                      class="form-control form-control-lg" value="{{(state$ | async).username}}" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="input-group mb-3">
                    <label class="d-flex w-100 text-blue" for="email">
                      {{'admin.global.password' | translate}}
                    </label>
                    <input type="password" class="form-control form-control-lg"
                      [class.is-invalid]="password.invalid && (password.dirty || password.touched)"
                      placeholder="Password" id="update-password-field" autocomplete="password"
                      formControlName="password" maxlength="100" />
                    <div class="invalid-feedback" *ngIf="password.errors && password.errors.required">
                      Password is required.
                    </div>
                    <div class="invalid-feedback" *ngIf="password.errors && password.errors.minlength">
                      {{'admin.global.field.minLength' | translate:{minLength :
                      password.errors.minlength.requiredLength}
                      }}.
                    </div>
                    <div class="invalid-feedback" *ngIf="password.errors && password.errors.maxlength">
                      {{'admin.global.field.maxLength' | translate:{maxLength :
                      password.errors.maxlength.requiredLength} }}.
                    </div>
                  </div>
                </div>
              </div>

              <div class="d-flex flex-row justify-content-center mt-4">
                <button type="button" id="update-password-submit-button"
                  class="btn btn-primary w-100 py-3 font-weight-bold" (click)="update()"
                  [disabled]="passwordUpdateForm.invalid">
                  {{'admin.global.update' | translate}}
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>