<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <div class="card list">
        <form [formGroup]="settingsForm" class="form-horizontal my-3">
          <div class="card-body py-3">
            <div class="form-group row mb-0">
              <label class="col-xl-4 col-lg-4 col-md-4 form-header">{{'admin.store.deliveryOption'|translate}}</label>
              <div class="col-md-8">
                <div class="form-group row mx-0">
                  <label class="chk-container col-xl-12 col-lg-12 col-md-12 col-12" for="DELIVERY_IN_STORE_LOCATION"
                    [ngStyle]="{'pointer-events': !this.deliveryLocationsEnabled || (this.orderingDisabled && (this.settings['DELIVERY_IN_STORE_LOCATION'] || this.settings['DELIVERY_NO_LOCATION'] || this.settings['DELIVERY_ADDRESS'])) ? 'none' : 'inherit'}">
                    <span class="material-icons-outlined">
                      room_service
                    </span>
                    {{'admin.store.deliveryAtInLocation'|translate}}
                    <input
                      [disableControl]="orderingDisabled && (settings['DELIVERY_IN_STORE_LOCATION'] || settings['DELIVERY_NO_LOCATION'] || settings['DELIVERY_ADDRESS'])"
                      type="checkbox" formControlName="DELIVERY_IN_STORE_LOCATION" id="DELIVERY_IN_STORE_LOCATION"
                      (change)="onSubmit('delivery_option')" />
                    <span class="checkmark"></span>
                  </label>
                  <div class="row col-lg-8 col-md-8 col-12" *ngIf="hubriseConnected">
                    <span class="mx-2">{{'admin.store.externalId'|translate}}</span>
                    <input type="text" class="form-control col-xl-4 col-lg-6 col-md-6 col-8 externalIdInput"
                      *ngIf="hubriseConnected" placeholder="{{'admin.store.externalId'|translate}}" autocomplete="off"
                      (input)="onSubmit()" formControlName="DELIVERY_IN_STORE_LOCATION_EXTERNAL_ID" maxlength="100" />
                    <div class="invalid-feedback" *ngIf="deliveryInStoreLocationExteranlId.errors">
                      <span
                        *ngIf="deliveryInStoreLocationExteranlId.errors.maxlength">{{'admin.global.field.maxLength'|translate:
                        {maxLength: "100"} }}</span>
                    </div>
                  </div>
                  <div class="explanation" *ngIf="!deliveryLocationsEnabled">
                    {{'admin.store.deliveryLocationsEnabled'|translate}}</div>
                </div>
                
                <div class="form-group row mx-0">
                  <label class="chk-container col-xl-12 col-lg-12 col-md-12 col-12" for="DELIVERY_NO_LOCATION">
                    <span class="material-icons">
                      shopping_basket
                    </span>
                    {{'admin.store.orderDeliveryMethod.pickup'|translate}}
                    <input
                      [disableControl]="orderingDisabled && (settings['DELIVERY_IN_STORE_LOCATION'] || settings['DELIVERY_NO_LOCATION'] || settings['DELIVERY_ADDRESS'])"
                      type="checkbox" formControlName="DELIVERY_NO_LOCATION" id="DELIVERY_NO_LOCATION"
                      (change)="onSubmit('delivery_option')" />
                    <span class="checkmark"></span>
                  </label>
                  <div class="row col-lg-8 col-md-8 col-12" *ngIf="hubriseConnected">
                    <span class="mx-2">{{'admin.store.externalId'|translate}}</span>
                    <input type="text" class="form-control col-xl-4 col-lg-6 col-md-6 col-8 externalIdInput"
                      *ngIf="hubriseConnected" placeholder="{{'admin.store.externalId'|translate}}" autocomplete="off"
                      (input)="onSubmit()" formControlName="DELIVERY_NO_LOCATION_EXTERNAL_ID" maxlength="100" />
                    <div class="invalid-feedback" *ngIf="deliveryNoLocationExteranlId.errors">
                      <span
                        *ngIf="deliveryNoLocationExteranlId.errors.maxlength">{{'admin.global.field.maxLength'|translate:
                        {maxLength: "100"} }}</span>
                    </div>
                  </div>
                </div>
                <div class="form-group row mx-0">
                  <label class="chk-container col-xl-12 col-lg-12 col-md-12 col-12" for="DELIVERY_ADDRESS">
                    <span class="material-icons">
                      directions_bike
                    </span>
                    {{'admin.store.orderDeliveryMethod.deliverAtAddress'|translate}}
                    <input
                      [disableControl]="orderingDisabled && (settings['DELIVERY_IN_STORE_LOCATION'] || settings['DELIVERY_NO_LOCATION'] || settings['DELIVERY_ADDRESS'])"
                      type="checkbox" formControlName="DELIVERY_ADDRESS" id="DELIVERY_ADDRESS" (change)="onSubmit('delivery_option')" />
                    <span class="checkmark"></span>
                  </label>
                  <div class="row col-lg-8 col-md-8 col-12" *ngIf="hubriseConnected">
                    <span class="mx-2">{{'admin.store.externalId'|translate}}</span>
                    <input type="text" class="form-control col-xl-4 col-lg-6 col-md-6 col-8 externalIdInput"
                      *ngIf="hubriseConnected" placeholder="{{'admin.store.externalId'|translate}}" autocomplete="off"
                      (input)="onSubmit()" formControlName="DELIVERY_ADDRESS_EXTERNAL_ID" maxlength="100" />
                    <div class="invalid-feedback" *ngIf="deliveryAddressExteranlId.errors">
                      <span
                        *ngIf="deliveryAddressExteranlId.errors.maxlength">{{'admin.global.field.maxLength'|translate:
                        {maxLength: "100"} }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row mb-4 d-flex align-items-center">
              <label class="col-xl-4 col-lg-4 col-md-4 form-header">{{'admin.store.settings.ordering.title'|translate}}</label>
              <div class="col-md-5">
                <div class="form-group mb-0">
                  <label>{{'admin.store.disabled'|translate}}</label>&nbsp;
                  <label class="switch pt-1 mb-0">
                    <input type="checkbox" formControlName="ENABLE_ORDERING" id="ENABLE_ORDERING"
                      (change)="onSubmit('ordering')" />
                    &nbsp;<span class="slider round"></span>
                  </label>&nbsp;
                  <label>{{'admin.store.enabled'|translate}}</label>
                  <div class="explanation"
                    *ngIf="!settings['DELIVERY_IN_STORE_LOCATION'] && !settings['DELIVERY_NO_LOCATION'] && !settings['DELIVERY_ADDRESS']">
                    {{'admin.store.orderingDisabledMessage'|translate}}</div>
                </div>
              </div>
            </div>
            <div class="form-group row mb-4 d-flex align-items-center"
              *ngIf="orderingDisabled && (settings['DELIVERY_IN_STORE_LOCATION'] || settings['DELIVERY_NO_LOCATION'] || settings['DELIVERY_ADDRESS'])">
              <label
                class="col-xl-4 col-lg-4 col-md-4 form-header">{{'admin.store.statistics.orderCapture'|translate}}</label>
              <div class="col-md-5">
                <div class="form-group mb-0">
                  <label>{{'admin.store.disabled'|translate}}</label>&nbsp;
                  <label class="switch pt-1 mb-0">
                    <input type="checkbox" formControlName="ENABLE_ORDER_CAPTURE" id="ENABLE_ORDER_CAPTURE"
                      (change)="onSubmit('capture')" />
                    &nbsp;<span class="slider round"></span>
                  </label>&nbsp;
                  <label>{{'admin.store.enabled'|translate}}</label>

                </div>
              </div>
            </div>
            <div class="form-group row mb-4 d-flex align-items-center" *ngIf="orderingDisabled">
              <label class="col-xl-4 col-lg-4 col-md-4 form-header">{{'admin.store.shoppingBasket'|translate}}</label>
              <div class="col-md-5">
                <div class="form-group mb-0">
                  <label>{{'admin.store.disabled'|translate}}</label>&nbsp;
                  <label class="switch pt-1 mb-0">
                    <input type="checkbox" formControlName="BASKET_ENABLED" id="BASKET_ENABLED"
                      (change)="onSubmit('basket')" />
                    &nbsp;<span class="slider round"></span>
                  </label>&nbsp;
                  <label>{{'admin.store.enabled'|translate}}</label>

                </div>
              </div>
            </div>
            <div class="form-group row mb-4 d-flex align-items-center" *ngIf= "hubriseConnected || powersoftConnected">
              <label
                class="col-xl-4 col-lg-4 col-md-4 form-header">{{'admin.store.externalOnlinePaymentId'|translate}}</label>
              <div class="col-md-4">
                <input type="text" class="form-control"
                  placeholder="{{'admin.store.externalOnlinePaymentId'|translate}}" autocomplete="off"
                  (input)="onSubmit()" formControlName="ONLINE_PAYMENT_EXTERNAL_ID" maxlength="100" />
              </div>
              <div class="invalid-feedback" *ngIf="onlinePaymentExternalId.errors">
                <span *ngIf="onlinePaymentExternalId.errors.maxlength">{{'admin.global.field.maxLength'|translate:
                  {maxLength: "100"} }}</span>
              </div>
            </div>
            <div class="form-group row mb-4 d-flex align-items-center" *ngIf="hubriseConnected">
              <label
                class="col-xl-4 col-lg-4 col-md-4 form-header">{{'admin.store.externalNonOnlinePaymentId'|translate}}</label>
              <div class="col-md-4">
                <input type="text" class="form-control"
                  placeholder="{{'admin.store.externalNonOnlinePaymentId'|translate}}" autocomplete="off"
                  (input)="onSubmit()" formControlName="NON_ONLINE_PAYMENT_EXTERNAL_ID" maxlength="100" />
              </div>
              <div class="invalid-feedback" *ngIf="nonOnlinePaymentExternalId.errors">
                <span *ngIf="nonOnlinePaymentExternalId.errors.maxlength">{{'admin.global.field.maxLength'|translate:
                  {maxLength: "100"} }}</span>
              </div>
            </div>
            <div class="form-group row mb-4 d-flex align-items-center">
              <label
                class="col-xl-4 col-lg-4 col-md-4 form-header pr-0">{{'admin.store.enableCustomerAuthentication'|translate}}
                <app-help-icon [helpPageName]="helpUrl"></app-help-icon>
              </label>
              <div class="col-md-5">
                <div class="form-group mb-0">
                  <label>{{'admin.global.no'|translate}}</label>&nbsp;
                  <label class="switch pt-1 mb-0">
                    <input type="checkbox" formControlName="ENABLE_CUSTOMER_AUTHENTICATION"
                      id="ENABLE_CUSTOMER_AUTHENTICATION" (change)="onSubmit()" />
                    &nbsp;<span class="slider round"></span>
                  </label>&nbsp;
                  <label>{{'admin.global.yes'|translate}}</label>
                </div>
              </div>
            </div>
            <div class="form-group row mb-4 d-flex align-items-center">
              <label class="col-xl-4 col-lg-4 col-md-4 form-header">{{'admin.store.hideorderComment'|translate}}</label>
              <div class="col-md-5">
                <div class="form-group mb-0">
                  <label>{{'admin.global.no'|translate}}</label>&nbsp;
                  <label class="switch pt-1 mb-0">
                    <input type="checkbox" formControlName="HIDE_ORDER_COMMENTS" id="HIDE_ORDER_COMMENTS"
                      (change)="onSubmit()" />
                    &nbsp;<span class="slider round"></span>
                  </label>&nbsp;
                  <label>{{'admin.global.yes'|translate}}</label>
                </div>
              </div>
            </div>
            <div class="form-group row mb-4 d-flex align-items-center">
              <label
                class="col-xl-4 col-lg-4 col-md-4 form-header">{{'admin.store.hideorderitemComment'|translate}}</label>
              <div class="col-md-5">
                <div class="form-group mb-0">
                  <label>{{'admin.global.no'|translate}}</label>&nbsp;
                  <label class="switch pt-1 mb-0">
                    <input type="checkbox" formControlName="HIDE_ORDER_ITEM_COMMENTS" id="HIDE_ORDER_ITEM_COMMENTS"
                      (change)="onSubmit()" />
                    &nbsp;<span class="slider round"></span>
                  </label>&nbsp;
                  <label>{{'admin.global.yes'|translate}}</label>
                </div>
              </div>
            </div>
            <div class="form-group row mb-4 d-flex align-items-center">
              <label
                class="col-xl-4 col-lg-4 col-md-4 form-header">{{'admin.store.oneClickAddToBasket'|translate}}</label>
              <div class="col-md-5">
                <div class="form-group mb-0">
                  <label>{{'admin.global.no'|translate}}</label>&nbsp;
                  <label class="switch pt-1 mb-0">
                    <input type="checkbox" formControlName="ADD_BASKET_ONE_CLICK" id="ADD_BASKET_ONE_CLICK"
                      (change)="onSubmit('basket_one_click')" />
                    &nbsp;<span class="slider round"></span>
                  </label>&nbsp;
                  <label>{{'admin.global.yes'|translate}}</label>
                </div>
              </div>
            </div>
            <div class="form-group row mb-4 d-flex align-items-center">
              <label
                class="col-xl-4 col-lg-4 col-md-4 form-header">{{'admin.store.clearBasketAndOrderOnInactivity'|translate}}</label>
              <div class="col-md-5">
                <div class="form-group mb-0">
                  <label>{{'admin.global.no'|translate}}</label>&nbsp;
                  <label class="switch pt-1 mb-0">
                    <input type="checkbox" formControlName="INACTIVITY_OPTION" id="INACTIVITY_OPTION"
                      (change)="onSubmit()" />
                    &nbsp;<span class="slider round"></span>
                  </label>&nbsp;
                  <label>{{'admin.global.yes'|translate}}</label>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
